body{
    width : 100% !important;
    height: 100% !important;
    overflow: hidden !important;
    background-image: url("../image/bgconnex.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titreConnexion{
    text-align: center;
    margin-bottom: 50px !important;
}

.titreConnexionH{
    font-family: 'Caveat', cursive;
    font-size: 70px;
    color: #1a3e59;
}

.connexion{
    margin-top : 12% !important;
    width: 40% !important;
    padding-bottom: 4% !important;
    padding-top: 4% !important;
    padding: 10px;
    box-shadow: 5px 8px 8px #888888 !important;
}

.inputsConnexion{
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.inputsConnexion input{
    margin-bottom: 15px !important;
}

.btnConnexion{
    text-align: center;
    margin-top: 3% !important;
}

.buttonInscr {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border: solid 1px #7c0a02;
    color: #7c0a02;
    text-decoration: none !important;
    margin-right: 10px;
}

.buttonInscr:hover{
    background-color :#7c0a02 !important;
    border: solid 1px white !important;
    color : white !important;
}
.buttonCo {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    text-decoration: none !important;
    background-color :white !important;
    border: solid 1px #1a3e59 !important;
    color : #1a3e59 !important;
}
.buttonCo:hover{
    border: solid 1px #1a3e59 !important;
    color: white !important;
    background-color: #1a3e59 !important;
}







