
body{
    text-align: center !important;
}


.logo{
    width: 30%;
    margin-bottom: 3%;


}

.containpage{
    text-align: center !important;

}

.container-fluid{
    height: 100%;
    top: 5%;
    width: 100%;
    padding-right: 10% !important;
    padding-left: 10% !important;
    margin-bottom: 10% !important;
}

.contImage{
    left: 0px !important;
    text-align: left !important;
}

.contentUser{
    padding-right: 0px !important;
    text-align: right !important;
}
table{
    text-align: center;
    border : solid 1px lightgrey !important;
    margin-bottom: 10% !important;
}

.containTable{
    margin-left: auto !important;
    margin-right: auto !important;
}

.table th {
    padding: .45rem !important;
}

.btnCalcul{
    width: 20%;
    height: 10%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5% !important;

}
.rectangle{
    width: auto;
    max-height: 100%;
    background-color: #1a3e59;
    margin-right: 10px;
    margin-left: 10px;
}

.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 30px 0 30px;
    border-color: #1a3e59 transparent transparent transparent;
    margin-right: auto;
    margin-left: auto;
}

.rectangle h1{
    padding-top: 9% !important;
    padding-bottom: auto !important;
    font-size: 130%;
    color: white;


}

a{
    text-decoration: none !important;
}

.btnCalcul:hover .rectangle { background-color: #516630; }
.btnCalcul:hover .triangle { border-color: #516630 transparent transparent transparent;}

.menu:hover .userimg{margin-left: -5px !important;}



.menu {
    float: right !important;
    margin-top: 2% !important;
    position: absolute !important;
    right: 5%;
    width: 20% !important;
    transition: 0.4s !important;
}

.maxscore{
    font-size: 10px;
    font-weight: bold;
}

.menu button{
    background-color: transparent !important;
    border-color: transparent !important;
    color: black !important;
    border: none !important;
    outline:none !important;
}



.userimg{
    width: 55% !important;
    margin-left: 20px !important;
    transition: 0.4s !important;
}


@media screen and (min-width: 900px) {
    .container-fluid{
        padding-right: 2% !important;
        padding-left: 2% !important;
    }
}

