body{
    width : 100% !important;
    height: 100% !important;
    overflow: hidden !important;
    background-image: url("../image/bgconnex.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-fluid{
    position: fixed;
    height: 100%;
    bottom: 0;
    width: 100%;
}

.lacard{
    box-shadow: 5px 8px 8px #888888 !important;
}


.title{

    /*margin-bottom: 50px !important;*/
    margin-top: 50px !important;
    font-family: 'Caveat', cursive;
    font-size: 70px;
    color: #1a3e59;
}


.buttonInscr {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    text-decoration: none !important;
    background-color :white !important;
    border: solid 1px #1a3e59 !important;
    color : #1a3e59 !important;
}
.buttonInscr:hover{
    border: solid 1px #1a3e59 !important;
    color: white !important;
    background-color: #1a3e59 !important;
}



@media only screen and (max-device-width: 425px) {
    .title{
        font-size: 80px;
    }

    .input{
        font-size: 50px;
    }
}

@media only screen and (min-device-width: 426px) and (max-device-width: 750px) {
    .title{
        font-size: 60px;
    }

    .input{
        font-size: 30px;
    }
}
