.logo{
    width: 100%;
    margin-bottom: 13%;
}


.menu {
    float: left !important;
    margin-top: 3% !important;
    position: absolute !important;
    left: 5%;
    width: 20% !important;
    transition: 0.4s !important;
}

.menu button{
    background-color: transparent !important;
    border-color: transparent !important;

    border: none !important;
    outline:none !important;
    font-size: 50px !important;
    color: darkgray !important;
    transition: 0.3s;
}

.menu button:hover{
    color: black !important;
}

.btnjouer{
    background-color: #1a3e59;
    padding: 20px 30px;
    font-size: 20px;
    color: white;
    margin-top: 10% !important;
    text-decoration: none !important;
    text-decoration-line: none !important;
}

.table{
    margin-top: 10% !important;
}

.btnjouer:hover{
    background-color: white;
    border: solid 2px #1a3e59;
    color:#1a3e59;
    font-weight: bold;
}