.container-fluid{
    position: fixed;
    height: 100%;
    bottom: 0;
    width: 100%;
}

.button{
    margin-left: 20px;
}

.laQuestion{
font-family: 'Caveat', cursive;
font-size: 50px;
}

.questionImg{
    width: 70%;
    margin-bottom: 100px;
}

.leform{
    margin: 50px;
}